# Ignore specific folders
/colmap_database
/map

/resources


__pycache__/
*.pyc
*.pyo
*.pyd

/build

journal/images


# Ignore LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ind
*.lof
*.log
*.pdf
*.out
*.gz
*.bib

/sift_stuff

